
@{
    ViewBag.Title = "Create";
}
@model ContactProject.ViewModel.ContactViewModelList

<h2>Create New Contact</h2>

<div align="center">
    @using (Html.BeginForm("create", "Contact", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table class="table">
            <tr>
                <td>@Html.LabelFor(model => model.contactModelList.FName) </td>
                <td>
                    @Html.EditorFor(model => model.contactModelList.FName)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.contactModelList.LName) </td>
                <td>@Html.EditorFor(model => model.contactModelList.LName) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.contactModelList.Email) </td>
                <td>@Html.EditorFor(model => model.contactModelList.Email) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.contactModelList.PhoneNum) </td>
                <td>@Html.EditorFor(model => model.contactModelList.PhoneNum) </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.contactModelList.Status) </td>
                <td>@Html.EditorFor(model => model.contactModelList.Status) </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    }
</div> 