
@{
    ViewBag.Title = "Index";
}

<h2>Contact List</h2>

<div align="center">
    <a href="@Url.Action("Create", "Contact")"> Add New Contact </a> <br/> <br/>
        <table cellpadding="2" class="table" cellspacing="2" border="1">
            <tr class = "btn-primary" >
            @*<th> S.No.</th>*@
            <th> First Name</th>
            <th> Last Name</th>
            <th> EmailId</th>
            <th> Phone No.</th>
            <th> Status </th>
            <th> Action</th>
            </tr>
            @foreach (var Cust in ViewBag.listContact)
            {
                <tr class="btn-success">
                    @*<td> @Cust.SNo</td>*@
                    <td> @Cust.FName </td>
                    <td> @Cust.LName</td>
                    <td> @Cust.Email </td>
                    <td> @Cust.PhoneNum </td>
                    <td> @Cust.Status </td>
                    <td>
                        <a onclick="return confirm('Do you want to Delete?')" href="@Url.Action("Delete","Contact",new {id = Cust.SNo})">Delete</a> || <a href="@Url.Action("Edit","Contact",new {id = Cust.SNo})">Edit</a>
                    </td>
                </tr>
            }
        </table>
</div> 